[project]
	description = GlusterFS libgfapi based DiskFile implementation in Go for Hummingbird
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prashanth Pai (prashanthpai)
[access "refs/for/refs/*"]
	read = group user/Prashanth Pai (prashanthpai)
	push = group user/Prashanth Pai (prashanthpai)
	label-Code-Review = -2..+2 group user/Prashanth Pai (prashanthpai)
	label-Verified = -1..+1 group user/Prashanth Pai (prashanthpai)
	rebase = group user/Prashanth Pai (prashanthpai)
	removeReviewer = group user/Prashanth Pai (prashanthpai)
	submit = group user/Prashanth Pai (prashanthpai)
[access "refs/heads/*"]
	read = group user/Prashanth Pai (prashanthpai)
	create = group user/Prashanth Pai (prashanthpai)
	push = +force group user/Prashanth Pai (prashanthpai)
	pushMerge = group user/Prashanth Pai (prashanthpai)
[access "refs/tags/*"]
	push = +force group user/Prashanth Pai (prashanthpai)
	pushTag = group user/Prashanth Pai (prashanthpai)
	pushSignedTag = group user/Prashanth Pai (prashanthpai)
